name: Check pull request

on:
  pull_request

permissions:
  contents: write
  
jobs:
  check:
    runs-on: ubuntu-latest
    name: Check pull request
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Setup reviewdog
        uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      - name: detekt
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew detekt

      - name: Run reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          find . -regex '^.*/build/reports/detekt/detekt.sarif' -type f | while read file_path; do
           cat "$file_path" | reviewdog -reporter=github-pr-review -f=sarif -level=info
          done
